<% layout('layout') -%>
<section class="title delete">
    <h1>Delete Category:</h1>
    <h2><%= category.title %></h2>
</section>

<section class="deleteSection">
<% if (category_parts.length > 0) { %>
<p id="deleteMsg">Must delete the following parts before removing this category</p>
<ul id="deleteList">
    <% category_parts.forEach(part => { %>
    <li><a href="<%= part.url %>"><%= part.name %></a></li>
    <% }) %>
</ul>
<% } else { %>
    <p id="confirmationMsg">Are you sure you want to delete this category?</p>

    <form action="" method="POST">
        <input type="hidden" name="categoryid" id="categoryid" value="<%= category._id %>" required>
        <fieldset>
            <legend>ADMIN PASSWORD</legend>
            <input type="password" name="password" id="password" required>
          </fieldset>
        <button type="submit" class="yellow-btn">Delete</button>
    </form>
    <% } %>
    <a class="cancel" href="<%= typeof category == 'undefined' ? '/categories' : category.url %>">Cancel</a>
</section>