<% layout('layout') -%>

<section>
    <p><a href="/categories">Categories</a> > <%= category.title %></p>
    <h1><%= category.title %></h2>
        <p class="description"><%= category.description %></p>
        <a href="<%= category.url%>/update">Update</a>
        <a href="<%= category.url%>/delete">Delete</a>
</section>
<section>
    <div><%= category_parts.length %> product(s)</div>
    <form id="categoryPartFilterForm">
        <label for="filter">Search </label>
        <input type="text" name="filter" id="filter" placeholder="<%= category.title %>">
    </form>
</section>
<table id='category-table'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Stock</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% category_parts.forEach(part => { %>
        <tr class="part-row" data-part="<%= part.name %>">
            <td class="part-name"><a href="<%= part.url %>"><%= part.name %></a></td>
            <td class="part-manufacturer"><a href="<%= part.manufacturer.url %>"><%= part.manufacturer.name %></a>
            </td>
            <td class="part-stock"><span><%= part.inStock %></span></td>
            <td class="part-price" data-price=<%= part.price %>><span>$<%= part.price %></span></td>
            <td><button>Add</button></td>
        </tr>
        <% }) %>
    </tbody>
    <tfoot>
        <tr>

        </tr>
    </tfoot>
</table>
<% block('scripts', "<script type='text/javascript' src='/javascripts/categoryDetailFunctions.js'></script>") -%>