<% layout('layout') -%>

<section>
    <h1><%= category.title %></h1>
        <a href="<%= category.url%>/update">Update</a>
        <a href="<%= category.url%>/delete">Delete</a>
        <p class="description"><%= category.description %></p>
</section>
<section>
    <div><%= category_parts.length %> product(s)</div>
    <form id="categoryPartFilterForm">
        <fieldset>
            <legend>SEARCH</legend>
            <input type="text" name="filter" id="filter" placeholder="<%= category.title %>">
        </fieldset>
    </form>
</section>
<table id='category-table'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Stock</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% category_parts.forEach(part => { %>
        <tr class="part-row" data-part="<%= part.name %>">
            <td class="part-name">
                <div class="th-small">Name</div>
                <a href="<%= part.url %>"><%= part.name %></a>
            </td>
            <td class="part-manufacturer">
                <div class="th-small">Manufacturer</div>
                <a href="<%= part.manufacturer.url %>"><%= part.manufacturer.name %></a>
            </td>
            <td class="part-stock">
                <div class="th-small">Stock</div>
                <%= part.inStock %>
            </td>
            <td class="part-price">
                <div class="th-small">Price</div>
                $<%= part.price %>
            </td>
            <td><button>Add</button></td>
        </tr>
        <% }) %>
    </tbody>
    <tfoot>
        <tr>

        </tr>
    </tfoot>
</table>
<% block('scripts', "<script type='text/javascript' src='/javascripts/searchFilter.js'></script>") -%>
<% block('scripts', "<script type='text/javascript' src='/javascripts/tablesort.min.js'></script> <script type='text/javascript' src='/javascripts/tablesort.number.min.js'></script> <script>new Tablesort(document.getElementById('category-table'));</script> ") -%>
