<% layout('layout') -%>

<section>
  <p>
    <a href="/categories">Categories</a> >
    <a href="<%= category.url %>"><%= category.title %></a> > <%= title %>
  </p>
  <h1><%= title %></h1>

  <ul>
    <% component.description.split(',').forEach(spec => { %>
      <% if (spec.trim().length > 0) { %>
        <li><%= spec %></li>
      <% } %>
    <% }) %>
  </ul>
</section>
