<% layout('layout') -%>

<section class="title">
  <h1><%= title %></h1>
  <a class="create-link" href="/component/create">
    <i class="fas fa-plus"></i>
  </a>
</section>

  <p class="component-list"><span id="numProducts"><%= component_list.length %></span> product(s)</p>

<section class="create-section component-list"><a href="/component/create">Add a new part</a></section>

<section class="filter-section component-list">
  <form id="componentFilterForm">
      <fieldset>
          <legend>SEARCH</legend>
          <input type="text" name="filter" id="filter" placeholder="Components">
      </fieldset>
  </form>
</section>

<table id="component-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Category</th>
      <th>Stock</th>
      <th data-sort-method='number'>Price</th>
    </tr>
  </thead>
  <tbody>
    <% component_list.forEach(component => { %>
    <tr class="part-row" data-part="<%= component.name %>">
      <td><a href="<%= component.url %>"><%= component.name %></a></td>
      <td><a href="<%= component.manufacturer.url %>"><%= component.manufacturer.name %></a></td>
      <td><a href="<%= component.category.url %>"><%= component.category.title %></a></td>
      <td><%= component.inStock %></td>
      <td>$<%= component.price %></td>
    </tr>
    <% }) %>
  </tbody>
  <tfoot>
    <tr></tr>
  </tfoot>
</table>

<% block('scripts', "<script type='text/javascript' src='/javascripts/searchFilter.js'></script>") -%>
<% block('scripts', "<script type='text/javascript' src='/javascripts/tablesort.min.js'></script> <script type='text/javascript' src='/javascripts/tablesort.number.min.js'></script> <script>new Tablesort(document.getElementById('component-table'));</script> ") -%>
