<% layout('layout') -%>

<section>
  <h1><%= title %></h1>
</section>
<section><a href="/component/create">Add a new part</a></section>

<table id="component-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Category</th>
      <th>Stock</th>
      <th data-sort-method='number'>Price</th>
    </tr>
  </thead>
  <tbody>
    <% component_list.forEach(component => { %>
    <tr>
      <td><a href="<%= component.url %>"><%= component.name %></a></td>
      <td><a href="<%= component.manufacturer.url %>"><%= component.manufacturer.name %></a></td>
      <td><a href="<%= component.category.url %>"><%= component.category.title %></a></td>
      <td><%= component.inStock %></td>
      <td>$<%= component.price %></td>
    </tr>
    <% }) %>
  </tbody>
  <tfoot>
    <tr></tr>
  </tfoot>
</table>

<% block('scripts', "<script type='text/javascript' src='/javascripts/tablesort.min.js'></script> <script type='text/javascript' src='/javascripts/tablesort.number.min.js'></script> <script>new Tablesort(document.getElementById('component-table'));</script> ") -%>
