<% layout('layout') -%>
<section class="title"><h1 class="form-header"><%= title %></h1></section>

<section id="componentFormContainer">
  <% if (typeof errors != 'undefined') { %>
    <ul id="errorMsgs">
      <% errors.forEach(err => { %>
        <li><i class="fas fa-exclamation-triangle"></i><%= err.msg %></li>
      <% }) %>
    </ul>
  <% } %>
  <div class="component-details--img">
    <% if (typeof component != 'undefined' && component.fileName && typeof component.fileName != 'undefined') { %>
        <img src="/images/<%= component.fileName %>" alt="<%= component.fileName %>">
        <a href="<%= component.url %>/image/delete"><i class="fas fa-times"></i></a>
      
      <% } else { %>
        <div class="imgNotFound"><i class="fas fa-question"></i></div>
    <% } %>
  </div>
  <form action="" method="POST" enctype="multipart/form-data" id="componentForm">
    <fieldset>
      <legend>NAME</legend>
      <input
        minlength="3"
        required
        type="text"
        name="name"
        id="name"
        value="<%= typeof component == 'undefined' ? '' : component.name %>"
      />
    </fieldset>
    <fieldset id="features">
      <legend>FEATURES</legend>
      <textarea required name="description" id="description"><%= typeof component == 'undefined' ? '' : component.description %></textarea>
    </fieldset>
    <sub id="feature-sub">Separate features with a comma</sub>
    <div id="price-stock-container">
      <fieldset>
        <legend>PRICE [USD]</legend>
        <div id="price-input">
          <span id="dollar-sign">$</span>
          <input
          min="0"
          type="number"
          step="0.01"
          name="price"
          id="price"
          value="<%= typeof component != 'undefined' ? parseFloat(component.price) : 0%>"
          required
        />
        </div>
        
      </fieldset>
      <fieldset>
        <legend>STOCK</legend>
        <input
          min="0"
          type="number"
          name="inStock"
          id="inStock"
          value="<%= typeof component != 'undefined' ? parseInt(component.inStock) : 0%>"
          required
        />
      </fieldset>
    </div>
    <div id="category-manufacturer-container">
      <fieldset>
        <legend>SELECT CATEGORY</legend>
        <select name="category" id="category" required>
            <% categories.forEach(category => { %>
                <% if (typeof component != 'undefined') { %>
                    <% var selected = category._id.toString() === component.category._id.toString() ? 'selected' : '' %>
                    <option value="<%= category._id %>" <%= selected %> ><%= category.title %> </option>
                <% } else { %>
                    <option value="<%= category._id %> "><%= category.title %> </option>
                    <% } %>
            <% }) %>
        </select>
      </fieldset>
      <fieldset>
        <legend>SELECT MANUFACTURER</legend>
        <select name="manufacturer" id="manufacturer" required>
            <% manufacturers.forEach(manufacturer => { %>
                <% if (typeof component != 'undefined') { %>
                    <% var selected = manufacturer._id.toString() === component.manufacturer._id.toString() ? 'selected' : '' %> 
                    <option value="<%= manufacturer._id %>" <%= selected %>> <%= manufacturer.name %> </option>
                <% } else { %>
                    <option value="<%= manufacturer._id %> "><%= manufacturer.name %> </option>
                    <% } %>
            <% }) %>
        </select>
      </fieldset>
    </div>
    
    <fieldset>
      <legend>COMPONENT IMAGE</legend>
      <input type="file" name="part_image" id="part_image">
    </fieldset>
    <% if (typeof component != 'undefined') { %>
      <input type="hidden" name="fileName" id="fileName" value="<%= component.fileName %>">
    <% } %>
    <% if (isUpdating) { %>
      <fieldset>
        <legend>ADMIN PASSWORD</legend>
        <input type="password" name="password" id="password" required>
      </fieldset>
    <% } %>
    <button type="submit" class="yellow-btn">Submit</button>
  </form>
  <a class="cancel" href="<%= typeof component == 'undefined' || component.isNew ? '/components' : component.url %>">Cancel</a>
</section>