<% layout('layout') -%>
<% var totalPrice = 0 %> 
<div class="wide-screen-bg">
<section class="title home">
  <h1>My List</h1>
  <a id="downloadCSV">Export to CSV <i class="fas fa-download"></i></a>
</section>
<table cellspacing="0" id="pc-planner-list">
  <thead>
    <tr>
      <th id="thComponent">Component</th>
      <th id="thSelection">Selection</th>
      <th id="thPrice">Price</th>
      <th id="thBuy"></th>
      <th id="thRemove"></th>
    </tr>
  </thead>
  <tbody> 
    <% categories.forEach(category => { %>
      <% let key = category._id %>
      <% let part = null %>
      <% if (userList[key]) { %>
        <% part = userList[key] %>  
      <% } %> 
    <tr>
      <td class="part_category">
        <a href="<%= category.url %>" class='csv-content'><%= category.title %></a>
      </td>
      <% if (part) { %>
        <% totalPrice += part.price %> 
      <td class="part_selected">
        <div class="part-name-container">
        <div class="list-image-container">
          <% if (part.fileName) { %>
            <a href="<%= part.url %>">
              <img src="/images/<%= part.fileName %>" alt="">
            </a>
          <% } else { %>
            <div class="imgNotFound"><i class="fas fa-question"></i></div>
          <% } %>
        </div>
        <div class="th-small">Selection</div>
        <a href="<%= part.url %>" class='csv-content'><%= part.name %></a>
      </div>
      </td>
      <td class="part_price">
        <div class="th-small">Price</div>
        <span class="amount csv-content">$<%= part.price %></span>
      </td>
      <td class="part_buy">
        <a href="https://www.amazon.com/s?k=<%= part.name %>" rel="noopener noreferrer" target="_blank">
          <span>Buy<i class="fab fa-amazon"></i></span>
        </a>
      </td>
      <td class="part_remove"><button class="remove" data-removekey="<%= key %>"><i class="fas fa-times"></i> <span id="text-remove">Remove</span></button></td>
        <% } else { %>
         <td colspan="5" class="chooseCategory"><a href="<%= category.url %>"><i class="fas fa-plus"></i> Choose <%= category.title %></a></td>
      <% } %>
    </tr>
    <% }) %>
  </tbody>
  <tfoot>
      <td colspan="2" id="parts_total">Total: </td>
      <td class="accent1 totalVal amount">$<%= totalPrice.toFixed(2) %></td>
      <td></td>
      <td></td>
  </tfoot>
</table>
</div>
<% block('scripts', "<script type='text/javascript' src='/javascripts/removeCookie.js'></script>") -%>
<% block('scripts', "<script type='text/javascript' src='/javascripts/listToCSV.js'></script>") -%>
