<% layout('layout') -%>
<% var totalPrice = 0 %> 
<section class="title"><h1 style="margin: 0 auto">My List</h1></section>
<table id="pc-planner-list">
  <thead>
    <tr>
      <th>Component</th>
      <th>Selection</th>
      <th>Price</th>
      <th id="buy"></th>
      <th id="remove"></th>
    </tr>
  </thead>
  <tbody> 
    <% categories.forEach(category => { %>
      <% let key = category._id %>
      <% let part = null %>
      <% if (userList[key]) { %>
        <% part = userList[key] %>  
      <% } %> 
    <tr>
      <td class="part_category">
        <a href="<%= category.url %>"><%= category.title %></a>
      </td>
      <% if (part) { %>
        <% totalPrice += part.price %> 
      <td class="part_selected">
        <div class="th-small">Selection</div>
        <a href="<%= part.url %>"><%= part.name %></a>
      </td>
      <td class="part_price">
        <div class="th-small">Price</div>
        <span class="priceAmount">$<%= part.price %></span>
      </td>
      <td class="part_buy">
        <a href="https://www.amazon.com/s?k=<%= part.name %>" rel="noopener noreferrer" target="_blank">
          <span>Buy<i class="fab fa-amazon"></i></span>
        </a>
      </td>
      <td class="part_remove"><button class="remove" data-removekey="<%= key %>"><i class="fas fa-times"></i> <span id="text-remove">Remove</span></button></td>
        <% } else { %>
         <td colspan="5" class="chooseCategory"><a href="<%= category.url %>"><i class="fas fa-plus"></i> Choose <%= category.title %></a></td>
      <% } %>
    </tr>
    <% }) %>
  </tbody>
  <tfoot>
      <td colspan="2" id="parts_total">Total: </td>
      <td class="accent1">$<%= totalPrice.toFixed(2) %></td>
      <td></td>
      <td></td>
  </tfoot>
</table>

<% block('scripts', "<script type='text/javascript' src='/javascripts/removeCookie.js'></script>") -%>
