<% layout('layout') -%>
<section class="title"><h1>My Planner</h1></section>

<table id="pc-planner-list">
  <thead>
    <tr>
      <th>Component</th>
      <th>Selection</th>
      <th>Price</th>
      <th id="buy"></th>
      <th id="remove"></th>
    </tr>
  </thead>
  <tbody> 
    <% categories.forEach(category => { %>
      <% let key = category.title.toLowerCase().split(" ").join("_") %>
      <% let info = null %>
      <% if (userList[key]) { %>
        <% info = JSON.parse(userList[key]) %>  
      <% } %> 
    <tr>
      <td class="part_category"><a href="<%= category.url %>"><%= category.title %></a></td>
      <td class="part_selected"><%= info ? info['component'] : '-' %></td>
      <td class="part_price"><%= info ? info['price'] : '-' %></td>
      <td class="part_buy">
        <% if (info) { %>
          <a href="https://www.amazon.com/s?k=<%= info['component'] %>" rel="noopener noreferrer" target="_blank">Buy</a>
        <% } %>
      </td>
      <td class="part_remove"><button>🗙</button></td>
    </tr>
    <% }) %>
  </tbody>
  <tfoot>
      <td colspan="2" id="parts_total">Total: </td>
      <td>$1234</td>
      <td></td>
      <td></td>
  </tfoot>
</table>
