<% layout('layout') -%>
<section class="title"><h1>My Planner</h1></section>

<table id="pc-planner-list">
  <thead>
    <tr>
      <th>Component</th>
      <th>Selection</th>
      <th>Price</th>
      <th id="buy"></th>
      <th id="remove"></th>
    </tr>
  </thead>
  <tbody> 
    <% categories.forEach(category => { %>
      <% let key = category.title.toLowerCase().split(" ").join("_") %>
      <% let info = null %>
      <% if (userList[key]) { %>
        <% info = JSON.parse(userList[key]) %>  
      <% } %> 
    <tr>
      <td class="part_category">
        <a href="<%= category.url %>"><%= category.title %></a>
      </td>
      <% if (info) { %>
      <td class="part_selected">
        <div class="th-small">Selection</div>
        <a href="<%= info['component_url'] %>" rel="noopener noreferrer" target="_blank" ><%= info['component'] %></a>
      </td>
      <td class="part_price">
        <div class="th-small">Price</div>
        <span><%= info['price'] %></span>
      </td>
      <td class="part_buy">
        <a href="https://www.amazon.com/s?k=<%= info['component'] %>" rel="noopener noreferrer" target="_blank">
          <span>Buy<i class="fab fa-amazon"></i></span>
        </a>
      </td>
      <td class="part_remove"><button class="remove" data-removekey="<%= key %>">🗙 <span id="text-remove">Remove</span></button></td>
        <% } else { %>
         <td colspan="4"><a href="<%= category.url %>">Choose <%= category.title %></a></td>
      <% } %>
    </tr>
    <% }) %>
  </tbody>
  <tfoot>
      <td colspan="2" id="parts_total">Total: </td>
      <td>$1234</td>
      <td></td>
      <td></td>
  </tfoot>
</table>

<% block('scripts', "<script type='text/javascript' src='/javascripts/removeCookie.js'></script>") -%>
