<% layout('layout') -%>

<section class="title">
    <h1><%= title %></h1>
    <button id="dropdown"><i class="fas fa-caret-down"></i></button>
    <div class="edit-links collapsed">
        <a href="<%= manufacturer.url%>/update"><i class="fas fa-wrench"></i></a>
        <a href="<%= manufacturer.url%>/delete"><i class="fas fa-trash"></i></a>
    </div>
</section>
<section>
        <p class="description"><%= manufacturer.description %></p>
</section>
<section class="filter-section">
    <div id="numProductsContainer"><span id="numProducts"><%= manufacturer_parts.length %></span> product(s)</div>
    <form id="filterForm">
        <fieldset>
            <legend for="filter">SEARCH</legend>
            <input type="text" name="filter" id="filter" placeholder="<%= manufacturer.name %>">
        </fieldset>
    </form>
</section>
<table id='manufacturer-table'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Stock</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr id="notFound" class="<%= manufacturer_parts.length == 0 ? '' : 'hidden' %>">
            <td><i class="fas fa-sad-tear"></i></td>
        </tr>
        <% manufacturer_parts.forEach(part => { %>
        <tr class="part-row" data-part="<%= part.name %>">
            <td class="part-name">
                <div class="th-small">Name</div>
                <a href="<%= part.url %>"><%= part.name %></a>
            </td>
            <td class="part-category">
                <div class="th-small">Category</div>
                <a href="<%= part.category.url %>"><%= part.category.title %></a>
            </td>
            <td class="part-stock">
                <div class="th-small">Stock</div>
                <span><%= part.inStock %></span>
            </td>
            <td class="part-price">
                <div class="th-small">Name</div>
                <span>$<%= part.price %></span>
            </td>
            <td class="part-add"><button class="yellow-btn add" data-info='<%= JSON.stringify(part) %>' data-url="<%= part.url %> ">Add</button></td>
        </tr>
        <% }) %>
    </tbody>
    <tfoot>
        <tr>

        </tr>
    </tfoot>
</table>

<% block('scripts', "<script type='text/javascript' src='/javascripts/searchFilter.js'></script>") -%>
<% block('scripts', "<script type='text/javascript' src='/javascripts/dropdown.js'></script>") -%>
<% block('scripts', "<script type='text/javascript' src='/javascripts/updateCookie.js'></script>") -%>
<% block('scripts', "<script type='text/javascript' src='/javascripts/tablesort.min.js'></script> <script type='text/javascript' src='/javascripts/tablesort.number.min.js'></script> <script>new Tablesort(document.getElementById('manufacturer-table'));</script> ") -%>
