<% layout('layout') -%>

<h1 class="title"><%= title %></h2>
<section>
        <a href="<%= manufacturer.url%>/update">Update</a>
        <a href="<%= manufacturer.url%>/delete">Delete</a>
        <p class="description"><%= manufacturer.description %></p>
</section>
<section class="filter-section">
    <div><span id="numProducts"><%= manufacturer_parts.length %></span> product(s)</div>
    <form id="manufacturerPartFilterForm">
        <fieldset>
            <legend for="filter">SEARCH</legend>
            <input type="text" name="filter" id="filter" placeholder="<%= manufacturer.name %>">
        </fieldset>
    </form>
</section>
<table id='manufacturer-table'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Stock</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% manufacturer_parts.forEach(part => { %>
        <tr class="part-row" data-part="<%= part.name %>">
            <td class="part-name"><a href="<%= part.url %>"><%= part.name %></a></td>
            <td class="part-category"><a href="<%= part.category.url %>"><%= part.category.title %></a>
            </td>
            <td class="part-stock"><span><%= part.inStock %></span></td>
            <td class="part-price">$<%= part.price %></td>
            <td><button>Add</button></td>
        </tr>
        <% }) %>
    </tbody>
    <tfoot>
        <tr>

        </tr>
    </tfoot>
</table>

<% block('scripts', "<script type='text/javascript' src='/javascripts/searchFilter.js'></script>") -%>
<% block('scripts', "<script type='text/javascript' src='/javascripts/tablesort.min.js'></script> <script type='text/javascript' src='/javascripts/tablesort.number.min.js'></script> <script>new Tablesort(document.getElementById('manufacturer-table'));</script> ") -%>
