<% layout('layout') -%>
<section class="title"><h1 class="form-header"><%= title %></h1></section>

<section>
<form action="" method="POST">
  <fieldset for="name">
    <legend>NAME</legend>
    <input
      required
      type="text"
      name="name"
      id="name"
      value="<%= typeof manufacturer == 'undefined' ? '' : manufacturer.name %>"
    />
  </fieldset>
  <fieldset for="description">
    <legend>DESCRIPTION</legend>
    <textarea name="description" id="description" cols="30" rows="10">
<%= typeof manufacturer == 'undefined' ? '' : manufacturer.description %></textarea
    >
  </fieldset>
  <% if (isUpdating) { %>
    <fieldset>
      <legend>ADMIN PASSWORD</legend>
      <input type="password" name="password" id="password" required>
    </fieldset>
  <% } %>
  <button type="submit" class="yellow-btn">Submit</button>
</form>
<a class="cancel" href="<%= typeof manufacturer == 'undefined' ? '/manufacturers' : manufacturer.url %>">Cancel</a>
</section>

<% if (typeof errors != 'undefined') { %>
<ul>
  <% errors.forEach(err => { %>
  <li><%= err.msg %></li>
  <% }) %>
</ul>
<% } %>

